body {
  margin:0;
  background-color: rgb(177, 176, 176);
  padding: 10px;
}

h1{
  color:black;
}
header {
  margin-top: 25px;
  height:80px;
  color: white;
  margin-bottom: 55px;
}


header h1, .question-score {
  text-align: center;
}

header .question-score {
  color:black;
  background: none;
}


fieldset {
  width:80%;
  padding: 40px;
  margin:0 auto;
  background:rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
