body {
  margin:0;
  background-color: rgb(241, 238, 238);
  padding: 25px;
}

h1{
  color:black;
}
header {
  margin-top: 25px;
  height:80px;
  color: white;
  margin-bottom: 55px;
  border-color: 1px black;
}


header h1, .question-score {
  text-align: center;
}

header .question-score {
  color:black;
  background: none;
}


fieldset {
  width:80%;
  padding: 40px;
  margin:0 auto;
  background:rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

#div{
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.page{
  text-align: center;
  color: rgb(230, 56, 56);
}